#top-up {
    font-size: 3rem;
    cursor: pointer;
    position: fixed;
    z-index: 9999;
    color: #004993;
    bottom: 20px;
    right: 15px;
    display: none;
}

#top-up:hover {
    color: #333
}
